.footerContainer{
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(231, 26%, 11%);
    margin-top: 5rem;
}

.footerContainer a{
    color: var(--ruby);
}

@media screen and (max-width:1000px) {
    .footerContainer > p{
        width: 90%;
    }
}