@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
html{
    font-family: 'Raleway'; --ruby: #fd2238; --second-color: #1f2233;}
a{text-decoration: none; color: black;}
ul{margin: 0; padding: 0;}
body{background-color:var(--second-color); color: white;}